@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-theme: #20D3C2;
    --color-theme-light: #EDFBFA;
    --color-theme-navy: #0E153D;
    --color-dark: #080C24;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #F6F6F6;
    --color-product-instock:#82D8C6;
    --color-product-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-14: 18px;
    --font-size-16: 21px;
    --font-size-18: 24px;
    --font-size-24: 32px;
    --font-size-36: 48px;
    --font-size-60: 80px;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rouned: 50%;
}

html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-navy);
}



/*menu*/
.info-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;
}

    .info-menu > .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    .info-menu .site-settings {
        display: flex;
    }
            .info-menu .site-settings .dropdown-theme {
                background-color: var(--color-theme);
                color: var(--color-white);
            }
                .info-menu .site-settings .dropdown-theme button {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;
                    padding: 0;
                }
    
                    .info-menu .site-settings .dropdown-theme button:hover {
                        color: var(--color-theme-navy);
                    }
    
                .info-menu .site-settings .dropdown-theme .dropdown-item {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    width: 130px;
                    margin: 0;
                }
                    .info-menu .site-settings .dropdown-theme :hover {
                        color: var(--color-theme-navy);
                    }

    .info-menu .menu-links {
        display: none;
    }
        .info-menu .menu-links .links {
            display: none;
        }        

    .info-menu .menu-links a {
        color: var(--color-white);
        text-decoration: none;
        margin: 16px;
    }
        .info-menu .menu-links a:hover {
            color: var(--color-theme-navy);
        }

        .info-menu .menu-links .sns-icons {
            margin-left: 16px;
            font-size: var(--font-size-14);
        }
            .info-menu .menu-links .sns-icons a {
                margin: 0 5px;
            }
                .info-menu .menu-links .sns-icons a:last-child {
                    margin: 0 0 0 5px;
                }

 /* main-menu */

 .main-menu {
    background-color: var(--color-white);
    color: var(--color-theme-navy);
 }

    .main-menu > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .main-menu .brand {
        flex: 1;
    }

    .main-menu .search-box {
        flex: 3;
    }

    .main-menu .shop-links {
        flex: 2;
        display:flex;
        justify-content: end;
        align-items: center;
    }
        .main-menu .shop-links i {
            font-size: var(--font-size-16);
        }
        .main-menu .shop-links a {
            color: var(--color-theme-navy);
            text-decoration: none;
            margin: 0 8px;
        }
            .main-menu .shop-links a:hover {
                color: var(--color-theme);
            }

                .main-menu .shop-links a:first-child {
                    margin: 0 30px 0 0;
                }

                    .main-menu .shop-links a:last-child {
                        margin: 0 0 0 8px;
                    }

    .main-menu nav {
        border-top: 1px solid var(--color-gray-2);
    }
    .main-menu > nav > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-menu nav .browse-categories {
        flex: 1;
        background-color: var(--color-theme);
    
    }

        .main-menu nav .browse-categories .dropdown-categories {
            background-color: var(color);
        }
        
            .main-menu nav .browse-categories .dropdown-categories button {
                background-color: var(--color-theme);
                color: var(--color-white);
                border: none;
                padding: 10px 15px;
            }

                .main-menu .browse-categories .dropdown-categories button:hover {
                    color: var(--color-theme-navy);
                }

                    .main-menu nav .browse-categories .dropdown-categories span {
                        padding-right: 45px;
                    }

            .main-menu .browse-categories .dropdown-categories .dropdown-menu {
                background-color: var(--color-theme);
                margin: 0;
            }

                .main-menu .browse-categories .dropdown-categories .dropdown-item {
                    color: var(--color-white);
                }

                    .main-menu .browse-categories .dropdown-categories :hover {
                        color: var(--color-theme-navy);
                        background-color: var(--color-theme);
                    }

    .main-menu nav .special-offers {
        flex: 4;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    































@media (min-width: 578px) {
    .info-menu .menu-links {
        display: block;
    }
}

@media (min-width: 992px) {
    .info-menu .container {
        justify-content: space-between;
    }

    .info-menu .menu-links .links {
        display: inline;
    }
}