@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-theme: #20D3C2;
    --color-theme-light: #EDFBFA;
    --color-theme-navy: #0E153D;
    --color-dark: #080C24;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #EEEEEE;
    --color-gray-3: #F6F6F6;
    --color-product-instock:#82D8C6;
    --color-product-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-14: 18px;
    --font-size-16: 21px;
    --font-size-18: 24px;
    --font-size-24: 32px;
    --font-size-36: 48px;
    --font-size-60: 80px;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rouned: 30%;
}

html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-navy);
}

.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-medium); 
    padding-left: 20px;
    padding-right: 20px;
}
    .btn-theme:hover {
        background-color: var(--color-theme-navy);
        color: var(--color-white);
    }

.categories-menu button {
    background-color: var(--color-theme);
    color: var(--color-white);
    border: none;
    width: 100%;
    font-size: var(--font-size-14);
    padding: 10px 15px; 
}
    .categories-menu button:hover {
        background-color: var(--color-theme-navy);
    }
        .categories-menu .dropdown-menu {
            background-color: var(--color-theme); 
        } 
            .categories-menu .dropdown-item {
                color: var(--color-white);
            }
                .categories-menu .dropdown-item:hover {
                    color: var(--color-white);
                    background-color: var(--color-theme-navy);
                }

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-theme);
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-medium); 
    border-radius: 50px;
    border: none;
    padding: 8px 18px;
}
    .btn-secondary:hover {
        background-color: var(--color-theme-navy);
        color: var(--color-white);
        border: none;
    }

.section-title {
    color: var(--color-theme-navy);
    text-align: center;
    padding: 40px;
}   
    .section-title h2 {
        font-weight: var(--font-weight-bold);
        font-size: 36px;
        font-family: var(--font-play);
    }
        .section-title h2 span {
            color: var(--color-theme);
        }
    .section-title p {
        margin: 13px 0px;
    }

.photo-spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .photo-spread .photo-spread-box {
        flex: 1;
        position: relative;
        min-width: 100px;
        max-width: 420px;
    }
        .photo-spread .photo-spread-box .spread-box-title {
            position: absolute;
            background-color: var(--color-theme-navy);
            color: var(--color-white);
            width: 100%;
            bottom: 0px;
            left: 0px;
            border-radius: 0px 0px 8px 8px;
            padding: 10px 10px;
        }
        .photo-spread .photo-spread-box:hover .spread-box-title {
            height: 100%;
        }


/*menu*/
.info-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;
}
    .info-menu > .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    .info-menu .site-settings {
        display: flex;
        flex: 2;
    }
            .info-menu .site-settings .dropdown-theme {
                background-color: var(--color-theme);
                color: var(--color-white);
            }
                .info-menu .site-settings .dropdown-theme button {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;
                    padding: 0;
                }    
                    .info-menu .site-settings .dropdown-theme button:hover {
                        color: var(--color-theme-navy);
                    }    
                .info-menu .site-settings .dropdown-theme .dropdown-item {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    width: 130px;
                    margin: 0;
                }
                    .info-menu .site-settings .dropdown-theme :hover {
                        color: var(--color-theme-navy);
                    }
    .info-menu .menu-links {
        display: none;
        justify-content: end;
        align-items: center;
        flex: 3;
    }
        .info-menu .menu-links .links {
            display: none;
        }        
    .info-menu .menu-links a {
        color: var(--color-white);
        text-decoration: none;
        margin: 16px;
    }
        .info-menu .menu-links a:hover {
            color: var(--color-theme-navy);
        }
        .info-menu .menu-links .sns-icons {
            margin-left: 16px;
            font-size: var(--font-size-14);
        }
            .info-menu .menu-links .sns-icons a {
                margin: 0 5px;
            }
                .info-menu .menu-links .sns-icons a:last-child {
                    margin: 0 0 0 5px;
                }
        .info-menu .categories-menu button {
            display: flex;
            align-items: center;
        }
 /* main-menu */
 .main-menu {
    background-color: var(--color-white);
    color: var(--color-theme-navy);
 }
    .main-menu > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .main-menu .brand {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-menu .search-box {
        display: none;
        justify-content: center;
        padding-top: 10px;
    }
    .main-menu .shop-links {
        display: none;
        justify-content: end;
        align-items: center;
    }
        .main-menu .shop-links i {
            font-size: var(--font-size-16);
        }
        .main-menu .shop-links a {
            color: var(--color-theme-navy);
            text-decoration: none;
            margin: 0 8px;
        }
            .main-menu .shop-links a:hover {
                color: var(--color-theme);
            }
                .main-menu .shop-links a:first-child {
                    margin: 0 30px 0 0;
                }
                    .main-menu .shop-links a:last-child {
                        margin: 0 0 0 8px;
                    }
        .main-menu .shop-links #cart {
            position: relative;
        }
            .main-menu .shop-links #cart .badge {
                position: absolute;
                top: -5px;
                left: 15px;
                background-color: var(--color-theme);
            }
                .main-menu .shop-links #cart:hover .badge {
                    background-color: var(--color-theme-navy);
                }
            

    .main-menu nav {
        border-top: 1px solid var(--color-gray-2);
        border-bottom: 1px solid var(--color-gray-2);
    }
        .main-menu > nav > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .main-menu nav .browse-categories {
                flex: 1;
                background-color: var(--color-theme);
            }
                    .main-menu nav .browse-categories .categories-menu button {
                        display: none;
                        justify-content: space-between;
                        align-items: center;
                    }
                        .main-menu nav .browse-categories .categories-menu button span {
                            display: flex;
                            align-items: center;
                        } 
                            .main-menu nav .browse-categories .categories-menu button > span > i {
                                font-size: var(--font-size-16);
                            }
                    
            .main-menu nav .special-offer {
                flex: 4;
                display: none;
                justify-content: end;
                align-items: center;
            }

/*main-photo-slideshow*/

.showcase {
    background-color: var(--color-gray-2);
    color: var(--color-theme-navy);
}
    .showcase .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .showcase .showcase-body {
        display:none;
        flex: 1;
    }
        .showcase .showcase-body h1 {
            font-family: var(--font-play);
            font-size: var(--font-size-60);
        }
        .showcase .showcase-body strong {
            color: var(--color-theme);
        }

        .showcase .showcase-body button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .showcase .slideshow {
            flex: 1;
        }

/*webshop-info*/
.webshop-info {
    background-color: var(--color-white);
    color: var(--color-theme-navy);
    padding-top: 80px;
    padding-bottom: 30px;
}
    .webshop-info .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
        .webshop-info .info-box {
            display: flex;
            align-items: center;
            flex: 1;
            margin: 10px 0px;
            padding: 25px 20px 15px 15px;
            background-color: var(--color-theme-light);
            border-radius: 8px;
        }
            .webshop-info .info-box:hover {
                background-color: var(--color-theme);
                color: var(--color-white);
            }
            .webshop-info .info-box img {
                margin-right: 20px;
                margin-left: 10px;
            } 
                .webshop-info .info-box:hover img {
                    filter: brightness(2000%);
                }
            .webshop-info .info-box h5 {
                color: var(--color-theme);
                font-size: var(--font-size-14);
                font-weight: var(--font-weight-medium);
            }
                .webshop-info .info-box:hover h5 {
                    color: var(--color-white);
                }

/* shop-by-category*/
.shop-by-category {
padding-bottom: 50px;
}
    .shop-by-category .category-grid {
        display: grid;
        gap: 13px;
        grid-template-columns: repeat(5, minmax(100px, 249px));
        grid-template-rows: repeat(3, minmax(100px, 249px));
    }

        .shop-by-category .category-grid .categ-box {
            position: relative;
            color: var(--color-theme);
        }
            .shop-by-category .category-grid .categ-box:hover img {
                filter: grayscale(100%) blur(2px);
            }
            .shop-by-category .category-grid .categ-box .categ-box-title {
                position: absolute;
                bottom: 0px;
                left: 0px;
                background-color: var(--color-theme-navy);
                width: 50%;
                height: 33px;
                border-radius: 0px 8px;
                padding: 5px 10px;
            }
                .shop-by-category .category-grid .categ-box .categ-box-title span {
                    display: block;
                    color: var(--color-white);
                    font-size: 14px;
                    margin-top: 4px;
                }
            .shop-by-category .category-grid .categ-box:hover .categ-box-title {
                height: 60px;
            }

            #categ-box-1 {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            #categ-box-2 {
                grid-column: 2/4;
                grid-row: 1/2;
            }
            #categ-box-3 {
                grid-column: 4/-1;
                grid-row: 1/3;
            }
            #categ-box-4 {
                grid-column: 1/3;
                grid-row: 2/-1;
            }
            #categ-box-5 {
                grid-column: 3/4;
                grid-row: 2/3;
            }
            #categ-box-6 {
                grid-column: 3/5;
                grid-row: 3/-1;
            }
            #categ-box-7 {
                grid-column: 5/-1;
                grid-row: 3/-1;
            }

    /*New-arrivals*/
    .new-arrivals {
        padding-bottom: 50px;
    }

    /*BANNER*/
    .banner {
        background-color: var(--color-gray-1);
        color: var(--color-white);
        margin: 40px 0px;
    }
        .banner .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .banner .first-time-offer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: var(--color-theme);
                width: 275px;  
                height: 400px;
            }
                .banner .first-time-offer h1 {
                    font-family: var(--font-play);
                    font-size: var(--font-size-36);
                    font-weight: var(--font-weight-bold);
                }
                    .banner .first-time-offer span {
                        font-size: var(--font-size-24);
                    }
            .banner .first-time-offer .btn-navy {
                background-color: var(--color-theme-navy);
                color: var(--color-white);
                font-weight: var(--font-weight-medium);
                border-radius: var(--border-radius-medium); 
                border-radius: 50px;
                border: none;
                padding: 8px 18px;
            }
                .banner .first-time-offer .btn-navy:hover {
                    background-color: var(--color-white);
                    color: var(--color-theme-navy);
                    border: none;
                }

    .banner .banner-body {
        max-width: 600px;
        padding: 20px;
    }


    /*featured-products*/
    .featured-products {
        padding-bottom: 50px;
    }

    /*banner-2*/
    .banner-2 {
        background-color: var(--color-theme-navy);
        margin: 40px 0px;
    }
        .banner-2 .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .banner-2 .flash-sale {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: var(--color-theme);
                color: var(--color-white);
                width: 275px; 
                text-align: center;
            }
                .banner-2 .flash-sale h1 {
                    font-family: var(--font-play);
                    font-size: var(--font-size-36);
                    font-weight: var(--font-weight-bold);
                }
                    .banner-2 .flash-sale span {
                        display: block;
                    }
          /*  .banner-2 .sale-countdown {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
            }
                .banner-2 .sale-countdown .countdown-bubble {
                    background-color: var(--color-white);
                    height: 50px;
                    width: 50px;
                    border: 1px solid var(--color-theme);
                    border-radius: 50%;
                } */


























@media (min-width: 580px) {
    .main-menu .shop-links {
        display: flex;
        flex: 3;
    }
    .info-menu .categories-menu > .dropdown-menu .my-account {
        display: none;
    }
}

@media (min-width: 780px) {
    .showcase .showcase-body {
        display: block;
    }
}

@media (min-width: 992px) {
    .info-menu .container {
        justify-content: space-between;
    }
    .info-menu .menu-links {
        display:flex;
    }
    .info-menu .menu-links .links {
        display: inline;
    }
    .info-menu .categories-menu button {
        display: none;
    }

    .main-menu .search-box {
        display: flex;
        flex: 3;
        padding: none;
    }
    .main-menu .shop-links {
        display: flex;
        flex: 3;

    }
    .main-menu nav .browse-categories .categories-menu button {
        display: flex;
    }
    .main-menu nav .special-offer {
        display: flex;
    }

    .webshop-info .container {
        max-width: 1600px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .webshop-info .info-box {
        margin: 0px 20px;
    }

}